<!DOCTYPE html>
<html LANG="en">

<style>
    .login_wrap {
        margin-top: 100px;
    }

    .login_img {
        background-image: url('/static/media/login.a4564251.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100vh;
    }

    .form_heading {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    body {
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: hidden; /* Hide vertical scrollbar */
    }


</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User login</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="/static/jquery-3.6.4.min.js"></script>
    <link href="/static/bootstrap-5.2.3/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/static/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/layui/layui.js"></script>

{#    <link rel="stylesheet" type="text/css" href="/static/Matrix-rain/style.css">#}
    <!--    <script src="../static/js/member/login.js"></script>-->
</head>
<body>



<div class="container-fluid">
    <div class="row" style="background:#1a1a1a">
        <div class="col-md-5 d-flex justify-content-center " >
            <form method="POST">
                <div class="text-center">
                    <div style="font-size:35px; margin-top: 20px; color: #ffffec">TANOS</div>
                    <div style="font-size:15px; margin-top: 5px; color: #6d828e">Testing Automation & Operation System</div>
                    <div style="font-size:30px; margin-top: 50px; color: #ffffec">User login</div>
                    <button id="login" style="width: 670px; margin-top: 20px;" type="button" class="btn btn-primary">
                        Login
                    </button>
                </div>

            </form>

        </div>

        <div class="col-md-7 " >
            <canvas id="c"></canvas>
        </div>


    </div>
</div>

<script>
    const loginBtn = document.getElementById('login');
    loginBtn.addEventListener('click', () => {
        window.location.href = '/login';
    });

</script>


<script>
    var root = {
        wavecolor: {
            r: 125,
            g: 52,
            b: 253
        },
        rainbowSpeed: 0.5,
        rainbow: true,
        matrixspeed: 50
    };

    var c = document.getElementById("c");
    var ctx = c.getContext("2d");

    var hueFw = false;
    var hue = -0.01;

    // making the canvas full screen
    c.height = window.innerHeight;
    c.width = window.innerWidth;

    // the characters
    var konkani = "Testing Automation & Operation System0123456789"
    // converting the string into an array of single characters
    var characters = konkani.split("");
    var font_size = 14;
    var columns = c.width / font_size;    // number of columns for the rain
    var gradient = ctx.createLinearGradient(0, 10, 0, 200);
    // an array of drops - one per column
    var drops = [];
    // x below is the x coordinate
    // 1 = y-coordinate of the drop (same for every drop initially)
    for (var x = 0; x < columns; x++)
        drops[x] = 1;

    // drawing the characters
    function draw() {
        // Get the BG color based on the current time i.e. rgb(hh, mm, ss)
        // translucent BG to show trail

        ctx.fillStyle = "rgba(0,0,0, 0.05)";
        ctx.fillRect(0, 0, c.width, c.height);

        ctx.fillStyle = "#BBB"; // grey text
        ctx.font = font_size + "px arial";

        // looping over drops
        for (var i = 0; i < drops.length; i++) {
            // background color
            ctx.fillStyle = "rgba(10,10,10, 1)";
            ctx.fillRect(i * font_size, drops[i] * font_size, font_size, font_size);
            // a random chinese character to print
            var text = characters[Math.floor(Math.random() * characters.length)];
            // x = i * font_size, y = value of drops[i] * font_size

            if (root.rainbow) {
                hue += (hueFw) ? 0.01 : -0.01;
                var rr = Math.floor(127 * Math.sin(root.rainbowSpeed * hue + 0) + 128);
                var rg = Math.floor(127 * Math.sin(root.rainbowSpeed * hue + 2) + 128);
                var rb = Math.floor(127 * Math.sin(root.rainbowSpeed * hue + 4) + 128);
                ctx.fillStyle = 'rgba(' + rr + ',' + rg + ',' + rb + ')';
            } else {
                ctx.fillStyle = 'rgba(' + root.wavecolor.r + ',' + root.wavecolor.g + ',' + root.wavecolor.b + ')';
            }

            ctx.fillText(text, i * font_size, drops[i] * font_size);
            // Incrementing Y coordinate
            drops[i]++;
            // sending the drop back to the top randomly after it has crossed the screen
            // adding randomness to the reset to make the drops scattered on the Y axis
            if (drops[i] * font_size > c.height && Math.random() > 0.975)
                drops[i] = 0;
        }
    }

    window.onresize = () => {
        location.reload();
    }

    setInterval(draw, root.matrixspeed);

    function livelyPropertyListener(name, val) {
        switch (name) {
            case "matrixColor":
                root.wavecolor = hexToRgb(val);
                break;
            case "rainBow":
                root.rainbow = val;
                break;
            case "rainbowSpeed":
                root.rainbowSpeed = val / 100;
                break;
        }
    }

    function hexToRgb(hex) {
        var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
        return result ? {
            r: parseInt(result[1], 16),
            g: parseInt(result[2], 16),
            b: parseInt(result[3], 16)
        } : null;
    }


</script>


</body>
</html>
