/.idea
/venv
/app/__pycache__
/app/util/__pycache__/
/app/view/__pycache__/
/app/data2_check/__pycache__/
/app/data2_check/Log
/app/data_f2t_check/Log
/app/templates/report
/app/static/userinfo
/app/templates/userinfo



