{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block js %}
<script src="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.js"
        xmlns:searchHighlightFormatter="http://www.w3.org/1999/xhtml"></script>
<link href="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.css" rel="stylesheet"/>

<script src="/static/tanos/bootbox.all.min.js"></script>
<script src="/static/tanos/popper.js"></script>
<script src="/static/tanos/toastr.min.js"></script>
<link href="/static/tanos/toastr.min.css" rel="stylesheet"/>

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">

<!--<script src="/static/tanos/data_connect.js"></script>-->

<!-- 引入socket.io.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

<!-- 引入xterm.js的相关文件 -->
<link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css"/>
<script src="https://unpkg.com/xterm/lib/xterm.js"></script>


{% endblock %}

<style>
    .pagination {
        display: none !important;
    }



</style>


{% block content %}


<div style="background-color: #eee; padding-bottom: 30px; height:100%; width:100%; display:flex; flex-direction:column; overflow-x:hidden; align-items: center;">

    <div style="display: flex; justify-content: flex-end; padding-top: 15px; width:100%;  ">
        <button id='add-new-row' type="button" class="btn btn-primary" style="margin-bottom: 5px; width: 65px; margin-right:40px"><i class="bi bi-plus"></i></button>
    </div>

    <div class="row" id="card-group" style="justify-content: center; width:97%; "></div>

    <nav>
        <ul class="pagination justify-content-center"></ul>
    </nav>


    <!-- 添加控制台元素 -->
    <div id="console-container"
         style="height:30px; overflow-y:hidden; overflow-x:hidden; position: fixed; bottom:2px; width:98%; z-index:100;justify-content: center;">
        <div id="console"></div>
        <div id="console-minimize-button"
             style="text-align: center; width:40px; position: absolute; top:3px; right:30px;color:#FFF;cursor:pointer;font-size:18px;font-weight:bold;">
            +
        </div>
    </div>

</div>


<!--下拉窗口-->
<div class="offcanvas offcanvas-top" tabindex="-1" id="add-row-top-canvas"
     aria-labelledby="offcanvasRightLabel" style="height: 600px">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasTopLabel">Add new connection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form class="card  mb-3" method="POST">

            <div class="card-body " style="text-align: center;">
                <div class="card-title ">
                    <div style="display:flex; width:100%; justify-content: start; align-items: center; padding-left:68px; padding-top:10px">
                        <div style="width:13.8%; display:flex; align-items:center; ">
                            <p>Job name</p>
                        </div>
                        <input style="width:80.5%; " type="text" class="form-control"
                               aria-describedby="basic-addon1" id="new-row-name">
                    </div>
                </div>
                <div class="card-text" style="text-align: left;">

                    <div class="container text-center ">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="row">
                                    <label class="col-md-12 control-label">Source</label>
                                    <div class="col-md-3" style="padding-top: 10px;">
                                        <b style="color:red">*</b> Data point
                                    </div>

                                    <div class="col-md-9" style="padding-top: 10px;">
                                        <select id="source_point_select_top_s" class="form-select ">

                                        </select>
                                    </div>

                                    <p class="col-md-3 control-label" style="padding-top: 10px;">Condition</p>
                                    <div class="col-md-9" style="padding-top: 10px;">
                                        <input type="text" class="form-control" placeholder="source where condition"
                                               aria-describedby="basic-addon1" id="new-s-condition-name">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row">

                                    <label class="col-md-12 control-label">Target</label>
                                    <div class="col-md-3" style="padding-top: 10px;">
                                        <b style="color:red">*</b> Data point
                                    </div>

                                    <div class="col-md-9" style="padding-top: 10px;">
                                        <select class="form-select" id="source_point_select_top_t"
                                                name="source_point_select_top_t" data-live-search="true">

                                        </select>
                                    </div>

                                    <p class="col-md-3 control-label" style="padding-top: 10px;">Condition</p>
                                    <div class="col-md-9" style="padding-top: 10px;">
                                        <input type="text" class="form-control" placeholder="target where condition"
                                               aria-describedby="basic-addon1" id="new-t-condition-name">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%"
                                    color="#6f5499" size="3">
                                <label class="col-md-12" style="padding-bottom:5px">Rules</label>
                            </div>

                            <div style="display:flex; width:100%; justify-content: start; align-items: center; padding-left:0px">
                                <p style="width:13.8% ">Select rules</p>
                                <select class="form-select" name="select_rule_top" id="select_rule_top"
                                        style="width:85.5%">
                                    <option selected>Default</option>
                                    <option>Check-table-header</option>
                                    <option>Check-count</option>
                                    <option>Check-the-first-200-rows</option>
                                    <option>Check-the-first-500-rows</option>
                                    <option>Check-the-first-1000-rows</option>
                                </select>
                            </div>


                            <div style="display:flex; width:100%; justify-content: start; align-items: center; padding-left:0px; padding-top:10px">
                                <div style="width:13.8%; display:flex; align-items:center; padding-left:40px">
                                    <p>Custom rules</p>
                                </div>
                                <input style="width:85.5%; " type="text" class="form-control"
                                       aria-describedby="basic-addon1"
                                       id="new-customrules-name">
                            </div>


                            <div style="display:flex; width:100%; justify-content: start; align-items: center; padding-left:0px; padding-top:10px">
                                <div style="width:13.8%; display:flex; align-items:center; padding-left:30px">
                                    <span style="color:red; ">*&nbsp</span> <span>By fields </span></div>
                                <input style="width:85.5%; " type="text" class=" form-control "
                                       placeholder="the columns used as the checking basis"
                                       aria-describedby="basic-addon1" id="new-field-name">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div style="margin-top:20px">
            <div style="width:80%; margin:auto; text-align:center">
                <button style="float:left" type="button" class="btn btn-danger"
                        data-bs-dismiss="offcanvas">Close
                </button>
                <button style="float:right" type="button" class="btn btn-success" id="save-new-row">
                    Save
                </button>
            </div>

        </div>

    </div>
</div>

<script>

    // 创建xterm.js终端对象
    const term = new Terminal({
        cols: 130,
    });

    // 将终端对象添加到控制台容器中
    term.open(document.getElementById('console'));

    // 获取控制台容器和最小化按钮
    const consoleContainer = document.getElementById('console-container');
    const minimizeButton = document.getElementById('console-minimize-button');


    // 最小化和恢复窗口的函数
    function toggleConsole() {
        if (consoleContainer.style.height === '50%') {
            consoleContainer.style.height = '30px';
            minimizeButton.innerText = '+';
        } else {
            consoleContainer.style.height = '50%';
            minimizeButton.innerText = '-';
        }
    }

    // 确保按钮文本的正确性
    if (consoleContainer.style.height === '30px') {
        minimizeButton.innerText = '+';
    } else {
        minimizeButton.innerText = '-';
    }

    // 在点击最小化按钮时最小化或恢复窗口
    minimizeButton.addEventListener('click', toggleConsole);



    const socket = io();  // 连接到SocketIO服务器

    socket.on('task_start', data => {
        term.writeln(data.data);
    });


    // 监听 "task_log" 事件，将输出显示在xterm.js终端控制台上
    socket.on('task_log', data => {
        term.writeln(data.data);

    });




</script>

<script>


    ////Add row function
    $('#add-new-row').click(function () {
        $('#add-row-top-canvas').offcanvas('show');


        $.ajax({
            url: "/getMyPoint",
            type: "GET",
            success: function (data) {
                var options = "";
                for (let i = 0; i < data.length; i++) {
                    const option = data[i];
                    options += `<option value="${option.value}" >${option.text}</option>`;
                }
                console.info(options)
                $('#source_point_select_top_s').empty().append(options)
                $('#source_point_select_top_t').empty().append(options)
            }
        })

    })

    $('#save-new-row').click(function () {
        // Get the values of the new row from the form fields
        const job_name = $('#new-row-name').val();
        const source_point = $('#source_point_select_top_s').val();
        const target_point = $('#source_point_select_top_t').val();
        const source_condition = $('#new-s-condition-name').val();
        const target_condition = $('#new-t-condition-name').val();
        const select_rules = $('#select_rule_top').val();
        const custom_rules = $('#new-customrules-name').val();
        const fields = $('#new-field-name').val();


        // Hide the modal dialog
        $('#add-row-top-canvas').offcanvas('hide');

        // addRow function
        $.ajax({
            url: '/add_job',
            type: 'POST',
            data: JSON.stringify({
                'case_id': case_id,
                'job_name': job_name,
                'job': {
                    "source_point": source_point,
                    "target_point": target_point,
                    "source_condition": source_condition,
                    "target_condition": target_condition,
                    "select_rules": select_rules,
                    "custom_rules": custom_rules,
                    "fields": fields,
                }

            }),
            contentType: 'application/json',
            success: function () {
                $('#add-row-top-canvas').modal('hide');
                location.reload()
                toastr.success('new job added successfully!');
            },
            error: function () {
                toastr.error('failed to add new job!');
                $('#add-row-top-canvas').modal('hide');
            }
        });

    });




</script>


<script>

    var urlParams = new URLSearchParams(window.location.search);
    var case_id = urlParams.get('id');


    $(document).ready(function () {
        const pageSize = 3;
        let currentPage = 1;
        let totalPages = 0;
        let cardsData = [];


        $.ajax({
            url: "/getMyPoint",
            type: "GET",
            success: function (data) {

                var options = data;


                $.ajax({
                    url: "/job_search.json",
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({case_id: case_id}),
                    contentType: 'application/json',
                    success: function (data) {
                        cardsData = data.map(item => {

                            var optionsHtml_source = "";
                            for (let i = 0; i < options.length; i++) {
                                const option = options[i];
                                const selected = (option.value === item.job.source_point) ? "selected" : "";
                                optionsHtml_source += `<option value="${option.value}" ${selected}>${option.text}</option>`;
                            }


                            var optionsHtml_target = "";
                            for (let i = 0; i < options.length; i++) {
                                const option = options[i];
                                const selected = (option.value === item.job.target_point) ? "selected" : "";
                                optionsHtml_target += `<option value="${option.value}" ${selected}>${option.text}</option>`;
                            }

                            const selectRule = item.job.select_rules || "Default";


                            return `
                                     <form class="card  mb-3"  method="POST"  >
                                          <div class="row g-0" >
                                             <div class="col-md-11">
                                                <div class="card-body " style="text-align: center;" >
                                                    <h5 class='card-title' > ${item.job_name} </h5>
                                                    <div class="card-text" style="text-align: left;">
                                                        <div class="container text-center ">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <label class="col-md-12 control-label">Source</label>
                                                                        <div class="col-md-3" style="padding-top: 10px;">
                                                                            <b style="color:red">*</b> Data point
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-top: 10px;">
                                                                            <select id="source_point_select" class="form-select source_point " >
                                                                                ${optionsHtml_source}
                                                                            </select>
                                                                        </div>
                                                                        <p class="col-md-3 control-label" style="padding-top: 10px;">Condition</p>
                                                                        <div class="col-md-9" style="padding-top: 10px;">
                                                                            <input type="text" class="form-control source_condition" placeholder="source where condition" id="source_condition"
                                                                            aria-describedby="basic-addon1" value=${item.job.source_condition}>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <label class="col-md-12 control-label">Target</label>
                                                                        <div class="col-md-3" style="padding-top: 10px;">
                                                                            <b style="color:red">*</b> Data point
                                                                        </div>
                                                                        <div class="col-md-9" style="padding-top: 10px;">
                                                                            <select class="form-select target_point"  id="target_point_select" name="select_t" data-live-search="true">
                                                                                ${optionsHtml_target}
                                                                            </select>
                                                                        </div>
                                                                        <p class="col-md-3 control-label" style="padding-top: 10px;">Condition</p>
                                                                        <div class="col-md-9" style="padding-top: 10px;">
                                                                            <input type="text" class="form-control target_condition" id="target_condition" placeholder="target where condition"
                                                                            aria-describedby="basic-addon1" value=${item.job.target_condition}>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="3">
                                                                    <label class="col-md-12" style="padding-bottom:5px">Rules</label>
                                                                </div>
                                                                <div style="display:flex; width:100%; justify-content: start; align-items: center; margin-right: 50px ">
                                                                    <div style="width:13.8%; display:flex; align-items:center; padding-left:30px">
                                                                        <p>Select rules</p>
                                                                    </div>
                                                                    <select class="form-select select_rules" name="select_rules" id="select_rules" style="width:90.5%">
                                                                        <option ${selectRule === "Default" ? "selected" : ""}>Default</option>
                                                                        <option ${selectRule === "Check-table-header" ? "selected" : ""}>Check-table-header</option>
                                                                        <option ${selectRule === "Check-count" ? "selected" : ""}>Check-count</option>
                                                                        <option ${selectRule === "Check-the-first-200-rows" ? "selected" : ""}>Check-the-first-200-rows</option>
                                                                        <option ${selectRule === "Check-the-first-500-rows" ? "selected" : ""}>Check-the-first-500-rows</option>
                                                                        <option ${selectRule === "Check-the-first-1000-rows" ? "selected" : ""}>Check-the-first-1000-rows</option>
                                                                        </select>
                                                                </div>
                                                                <div style="display:flex; width:100%; justify-content: start; align-items: center; padding-left:0px; padding-top:10px">
                                                                    <div style="width:13.8%; display:flex; align-items:center; padding-left:40px">
                                                                        <p>Custom rules</p>
                                                                    </div>
                                                                    <input style="width:85.5%; " type="text" class="form-control custom_rules" id="custom_rules"
                                                                    placeholder="undefined" aria-describedby="basic-addon1" value=${item.job.custom_rules}>
                                                                </div>
                                                                <div style="display:flex; width:100%; justify-content: start; align-items: center; padding-left:0px; padding-top:10px">
                                                                    <div style="width:13.8%; display:flex; align-items:center; padding-left:30px">
                                                                        <span style="color:red; ">*&nbsp</span> <span>By fields </span></div>
                                                                        <input name="field" style="width:85.5%; " type="text" class=" form-control fields" id="fields"
                                                                             placeholder="the columns used as the checking basis" aria-describedby="basic-addon1" value=${item.job.fields}>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                             </div>
                                             <div class="col-md-1">
                                                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100%;">
                                                  <button type="button" class="btn btn-primary card-edit" style="width: 100px;margin-top: 15px" id="card-edit" > Save</button>
                                                  <button type="button" class="btn btn-danger card-delete" style="width: 100px;margin-top: 15px" id="card-delete" > Delete</button>
                                                  <button type="button" class="btn btn-success card-run" style="width: 100px;margin-top: 15px" id="card-run"> Run </button>
                                                  <button type="button" class="btn btn-warning report" style="width: 100px;margin-top: 15px;display:none;" id="Report" > Report </button>
                                                </div>
                                                <div class="card-id" style="display: none">${item.job_id}</div>
                                             </div>
                                          </div>
                                     </form>
                            `
                        });
                        totalPages = Math.ceil(cardsData.length / pageSize);
                        renderPage(currentPage);
                        renderPagination();


                        // 绑定点击事件
                        $(document).on('click', '.card-delete', function () {

                            var form = $(this).closest('form');
                            var cardId = form.find('.card-id').text();
                            var job_name = form.find('.card-title').text();

                            let dialog = bootbox.dialog({
                                title: 'Delete item!',
                                message: "<p>Please confirm if you want to delete " + job_name + "? </p>",
                                centerVertical: true,
                                buttons:
                                    {
                                        cancel: {
                                            label: "No",
                                            className: 'btn-danger',
                                            callback:
                                                function () {
                                                    console.log('Custom cancel clicked');
                                                }
                                        },

                                        ok: {
                                            label: "Yes",
                                            className: 'btn-success',
                                            callback:
                                                function () {
                                                    //发送请求删除
                                                    $.ajax({
                                                        url: `/deleteJob/${cardId}`,
                                                        type: "POST",
                                                        success: function () {
                                                            // 删除成功后从页面移除card
                                                            toastr.success('delete job successfully!');
                                                            form.closest('.card').remove();

                                                        }
                                                    });
                                                }
                                        }
                                    }
                            });

                        });

                        $(document).on('click', '.card-edit', function () {
                            // 2.获取表单数据

                            var form = $(this).closest('form');
                            var cardId = form.find('.card-id').text();
                            var job_name = form.find('.card-title').text();

                            let sourcePoint = form.find('.source_point').val();
                            let sourceCondition = form.find('.source_condition').val();
                            let targetPoint = form.find('.target_point').val();
                            let targetCondition = form.find('.target_condition').val();
                            let selectRule = form.find('.select_rules').val();
                            let customRules = form.find('.custom_rules').val();
                            let fields = form.find('.fields').val();


                            // 3.将数据转换为JSON格式
                            let formData = {
                                'job_name': job_name,
                                'job_id': cardId,
                                'job': {
                                    "source_point": sourcePoint,
                                    "target_point": targetPoint,
                                    "source_condition": sourceCondition,
                                    "target_condition": targetCondition,
                                    "select_rules": selectRule,
                                    "custom_rules": customRules,
                                    "fields": fields,
                                }
                            };
                            let jsonData = JSON.stringify(formData);
                            $.ajax({
                                url: "/saveJob",
                                type: "POST",
                                data: jsonData,
                                contentType: "application/json",
                                success: function (response) {
                                    // do something
                                    toastr.success('save job successfully!');
                                },
                                error: function (xhr, status, error) {
                                    // handle error
                                    toastr.error('fail to save job!');
                                }
                            });


                        });

                        $(document).on('click', '.card-run', function () {
                            const $btn = $(this);
                            const $reportBtn = $('#Report');
                            const $loadingBtn = $('<button type="button" class="btn btn-warning" style="width: 120px;margin-top: 15px"><span class="spinner-border spinner-border-sm" disabled ></span> \n' +
                                'Running..</button>');

                            var form = $(this).closest('form');
                            var cardId = form.find('.card-id').text();
                            var job_name = form.find('.card-title').text();

                            let sourcePoint = form.find('.source_point').val();
                            let sourceCondition = form.find('.source_condition').val();
                            let targetPoint = form.find('.target_point').val();
                            let targetCondition = form.find('.target_condition').val();
                            let selectRule = form.find('.select_rules').val();
                            let customRules = form.find('.custom_rules').val();
                            let fields = form.find('.fields').val();

                            // 3.将数据转换为JSON格式
                            let formData = {
                                'job_name': job_name,
                                'job_id': cardId,
                                'job': {
                                    "source_point": sourcePoint,
                                    "target_point": targetPoint,
                                    "source_condition": sourceCondition,
                                    "target_condition": targetCondition,
                                    "select_rules": selectRule,
                                    "custom_rules": customRules,
                                    "fields": fields,
                                }
                            };
                            let jsonData = JSON.stringify(formData);

                            let dialog = bootbox.dialog({
                                title: 'Run job!',
                                message: "<p>Please confirm if you want to run " + job_name + " by rule: " + selectRule + " ? </p>",
                                centerVertical: true,
                                buttons:
                                    {
                                        cancel: {
                                            label: "No",
                                            className: 'btn-danger',
                                            callback:
                                                function () {
                                                    console.log('Custom cancel clicked');
                                                }
                                        },

                                        ok: {
                                            label: "Yes",
                                            className: 'btn-success',
                                            callback:
                                                function () {

                                                    socket.emit('run_task', jsonData);
                                                    consoleContainer.style.height = '50%';
                                                    minimizeButton.innerText = '-';


                                                    // 监听 "task_complete" 事件，将消息显示在xterm.js终端控制台上
                                                    socket.on('task_complete', data => {
                                                        term.writeln(data.data);
                                                        $loadingBtn.replaceWith($reportBtn.show());
                                                        toastr.success('run job successfully!');
                                                    });

                                                    // 前端代码
                                                    socket.on('task_error', data => {
                                                        term.writeln(data.data);
                                                        $loadingBtn.replaceWith($btn);
                                                        toastr.error('Fail to run job!');
                                                    });




                                                    $btn.replaceWith($loadingBtn);
                                                    //发送请求删除
                                                    $.ajax({
                                                        url: `/runJob/${cardId}`,
                                                        type: "POST",
                                                        data: jsonData,
                                                        contentType: "application/json",
                                                        success: function (data) {

                                                            if (data.returncode === 0) {
                                                                $loadingBtn.replaceWith($reportBtn.show());
                                                                toastr.success('run job successfully!');
                                                            } else {
                                                                $loadingBtn.replaceWith($btn);
                                                                toastr.error('Fail to run job!');
                                                            }


                                                        }
                                                    });
                                                }
                                        }
                                    }
                            });

                        });

                        $(document).on('click', '.report', function () {
                            // 跳转到指定页面
                            const url = `/data_search_report?id=${case_id}`;
                            // window.location.href = `/data_search_report?id=${case_id}`;
                            window.open(url, '_blank');
                        });


                    },
                    error: function (error) {
                        console.log(error);
                    }
                });

            },
            error: function (error) {
                console.log(error);
            }

        })


        function renderPage(page) {
            const start = (page - 1) * pageSize;
            const end = start + pageSize;
            const pageData = cardsData.slice(start, end);
            const html = pageData.join('');
            $("#card-group").html(`<div class="row">${html}</div>`);
        }

        function renderPagination() {
            const html = `
                  <li class="page-item ${currentPage === 1 ? "disabled" : ""}">
                    <a class="page-link" href="#" onclick="changePage(${currentPage - 1})">Previous</a>
                  </li>
                  ${Array.from({length: totalPages}, (_, i) => `
                    <li class="page-item ${i + 1 === currentPage ? "active" : ""}">
                      <a class="page-link" href="#" onclick="changePage(${i + 1})">${i + 1}</a>
                    </li>
                  `).join('')}
                  <li class="page-item ${currentPage === totalPages ? "disabled" : ""}">
                    <a class="page-link" href="#" onclick="changePage(${currentPage + 1})">Next</a>
                  </li>
                `;
            $(".pagination").html(html);
        }

        window.changePage = function (page) {
            if (page < 1 || page > totalPages) return;
            currentPage = page;
            renderPage(currentPage);
            renderPagination();
        }
    })
    ;




</script>


{% if message %}

{% endif %}

{% endblock %}