{% extends "base.html" %}

{% block title %}UI自动化 测试平台 - new test cases{% endblock %}

{% block js %}
<script src="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.js"></script>
<link href="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.css" rel="stylesheet"/>

<script src="/static/tanos/bootbox.all.min.js"></script>
<script src="/static/tanos/popper.js"></script>
<script src="/static/tanos/toastr.min.js"></script>
<link href="/static/tanos/toastr.min.css" rel="stylesheet"/>

<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<!--<script src="/static/tanos/data_connect.js"></script>-->


{% endblock %}


{% block content %}
<div style="background-color: #eee; height:100%; width:100%; align-items: center; display:flex; ">
    <div style=" height:92%; width:100%; margin-left: 30px;  margin-right: 30px; margin-top: 10px; margin-bottom: 10px; "
         class="card">
        <!-- card-body中style 可以防止内容向下溢出 -->
        <div class="card-body" style="padding-bottom:10px; overflow-y: auto; max-height: calc(100% - 10px);">

            <h4>Role Management</h4>
            <div style="margin-top: 20px">
                <table class="table table-striped"
                       id="table"
                       data-toggle="table"
                       data-height="580"
                       data-url="team/getAllRole.json"
                       data-pagination="true"
                       data-search="false"
                       data-sort-name="is_owner"
                       data-sort-order="desc"
                >
                    <thead>
                    <tr>
                        <th data-field="team" rowspan="2" data-width="10">TEAM</th>
                        <th data-field="data_connection" data-formatter="dataFormatter" rowspan="2" data-width="10"
                            data-align="center">ALL
                        </th>
                        <th colspan="3" data-align="center">DATA TEST</th>
                        <th colspan="1" data-align="center">WEB TEST</th>
                        <th colspan="5" data-align="center">API TEST</th>
                        <th colspan="2"></th>
                    </tr>
                    <tr>
                        <th data-field="data_connection" data-formatter="dataFormatter1" data-align="center">Data
                            Connection
                        </th>
                        <th data-field="data_point" data-formatter="dataFormatter2" data-align="center">Data Point
                        </th>
                        <th data-field="data_validation" data-formatter="dataFormatter3" data-align="center">Data
                            Validation
                        </th>

                        <th data-field="web_test" data-formatter="webFormatter1" data-align="center">Web UI</th>

                        <th data-field="api_test_system" data-formatter="apiFormatter1" data-align="center">System
                            Test
                        </th>
                        <th data-field="api_test_smoke" data-formatter="apiFormatter2" data-align="center">Smoke
                            Test
                        </th>
                        <th data-field="api_test_sanity" data-formatter="apiFormatter3" data-align="center">Regular
                            Sanity Test
                        </th>
                        <th data-field="api_test_health" data-formatter="apiFormatter4" data-align="center">Hourly
                            Health Check
                        </th>
                        <th data-field="api_test_null" data-formatter="apiFormatter5" data-align="center">"Null
                            Data" Check
                        </th>

                        <th data-field="tools" data-formatter="toolsFormatter" data-align="center">TOOLS</th>
                        <th data-field="config" data-formatter="configFormatter" data-align="center">CONFIG</th>
                    </tr>
                    </thead>
                </table>


            </div>

            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                <button type="button" class="btn btn-primary" id="save-config">Save</button>
            </div>


        </div>
    </div>
</div>

<script>

    function dataFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group"  style="margin-left: 10px; margin-right: 10px"  aria-label="...">
              <div class="form-check" >
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked} style="background-color: green;">
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px" >
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked} style="background-color: green;">
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }

    function dataFormatter1(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function dataFormatter2(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function dataFormatter3(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function webFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }

    function webFormatter1(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }

    function apiFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function apiFormatter1(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function apiFormatter2(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function apiFormatter3(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function apiFormatter4(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function apiFormatter5(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function toolsFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }

    function configFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


</script>


{% endblock %}