{% extends "base.html" %}

{% block title %}UI自动化 测试平台 - new test cases{% endblock %}

{% block js %}
<script src="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.js"></script>
<link href="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.css" rel="stylesheet"/>

<script src="/static/tanos/bootbox.all.min.js"></script>
<script src="/static/tanos/popper.js"></script>
<script src="/static/tanos/toastr.min.js"></script>
<link href="/static/tanos/toastr.min.css" rel="stylesheet"/>


<!-- Bootstrap Font Icon CSS -->


<!--<script src="/static/tanos/data_connect.js"></script>-->


{% endblock %}

<style>
    body {
        font: 30px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    }
</style>


{% block content %}
<div style="background-color: #eee; height:100%; width:100%; align-items: center; display:flex; ">
    <div style=" height:92%; width:100%; margin-left: 30px;  margin-right: 30px; margin-top: 10px; margin-bottom: 10px; "
         class="card">
        <!-- card-body中style 可以防止内容向下溢出 -->
        <div class="card-body" style="padding-bottom:100px; overflow-y: auto; max-height: calc(100% - 200px);">

            <h4>Role Management</h4>
            <div style="margin-top: 20px">
                <table class="table table-striped"
                       id="table"
                       data-toggle="table"
                       data-height="580"
                       data-url="team/getAllRole.json"
                       data-pagination="true"
                       data-search="false"
                       data-sort-name="is_owner"
                       data-sort-order="desc"
                >
                    <thead>
                    <tr>
                        <th data-field="team" rowspan="2" data-width="10">TEAM</th>
                        <th data-formatter="dataFormatter" rowspan="2" data-width="10"
                            data-align="center">ALL
                        </th>
                        <th colspan="3" data-align="center">DATA TEST</th>
                        <th colspan="1" data-align="center">WEB TEST</th>
                        <th colspan="5" data-align="center">API TEST</th>
                        <th colspan="2"></th>
                    </tr>
                    <tr>
                        <th data-field="data_connection" data-formatter="dataFormatter1" data-align="center">Data
                            Connection
                        </th>
                        <th data-field="data_point" data-formatter="dataFormatter2" data-align="center">Data Point
                        </th>
                        <th data-field="data_validation" data-formatter="dataFormatter3" data-align="center">Data
                            Validation
                        </th>

                        <th data-field="web_test" data-formatter="webFormatter1" data-align="center">Web UI</th>

                        <th data-field="api_test_system" data-formatter="apiFormatter1" data-align="center">System
                            Test
                        </th>
                        <th data-field="api_test_smoke" data-formatter="apiFormatter2" data-align="center">Smoke
                            Test
                        </th>
                        <th data-field="api_test_sanity" data-formatter="apiFormatter3" data-align="center">Regular
                            Sanity Test
                        </th>
                        <th data-field="api_test_health" data-formatter="apiFormatter4" data-align="center">Hourly
                            Health Check
                        </th>
                        <th data-field="api_test_null" data-formatter="apiFormatter5" data-align="center">"Null
                            Data" Check
                        </th>

                        <th data-field="tools" data-formatter="toolsFormatter" data-align="center">TOOLS</th>
                        <th data-field="config" data-formatter="configFormatter" data-align="center">CONFIG</th>
                    </tr>
                    </thead>
                </table>


            </div>

            <!--            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">-->
            <!--                <button type="button" class="btn btn-primary" id="save-config">Save</button>-->
            <!--            </div>-->

            <!-- Permission Form -->
            <div style="margin-top: 10px;" class="row">
                <div class="d-flex justify-content-between mb-3">
                    <!--                        <button class="btn btn-primary">-->
                    <!--                            Add Team-->
                    <!--                        </button>-->
                </div>
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Team Name</th>
                            <th>Edit Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>
                                <button class="btn btn-primary edit-button" data-bs-toggle="offcanvas"
                                        data-bs-target="#team-profile-modal" data-team-id="{{ team.id }}">Edit
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>

<script>

    function dataFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group"  style="margin-left: 10px; margin-right: 10px"  aria-label="...">
              <div class="form-check" >
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked} style="background-color: green;">
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px" >
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked} style="background-color: green;">
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }

    function dataFormatter1(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function dataFormatter2(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


    function dataFormatter3(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="...">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">Read</label>
              </div>
              <div class="form-check" style="margin-left: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">Write</label>
              </div>
            </div>`;
    }


</script>


<!-- Offcanvas for Team Profile -->
<div style="width: 400px" class="offcanvas offcanvas-end" tabindex="-1" id="team-profile-modal"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Role Config</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Team profile information and management functionality -->
        <div id="test1" class="demo-tree-more"></div>

        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#6f5499" size="3">

        <div style="margin-top: 20px; text-align: center;">
            <label class="form-check-label" style="margin-right: 10px">Access:</label>
            <div class="btn-group" role="group" aria-label="...">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="ritht-readCheckbox" value="read">
                    <label class="form-check-label">Read</label>
                </div>
                <div class="form-check" style="margin-left: 10px">
                    <input class="form-check-input" type="checkbox" id="ritht-writeCheckbox" value="write">
                    <label class="form-check-label">Write</label>
                </div>
            </div>

            <div style="margin-top: 60px;">
                <button type="button" class="btn btn-danger " data-bs-dismiss="offcanvas">Close</button>
                <button style="margin-left: 100px" type="button" class="btn btn-success" id="save-new-row">Save</button>
            </div>
        </div>
    </div>
</div>


<script>


    $(document).on('click', '.edit-button', function () {
        let teamId = $(this).data('team-id'); // 获取当前点击按钮对应的团队ID
        console.info(teamId);

        function getData(callback) {
            $.ajax({
                url: '/team/getAllRole2.json',
                method: 'GET',
                data: {teamId: teamId},
                success: function (result) {
                    callback(result);
                    // console.info(result)
                    // 获取 read 和 write 值
                    var read = result.data[0].read;
                    var write = result.data[0].write;


                    console.info(read)
                    console.info(write)

                    console.log($('#ritht-readCheckbox'));  // 检查是否正确选择到复选框元素


                    // 根据 read 和 write 值设置复选框状态
                    if (read === '1') {
                        $('#ritht-readCheckbox').prop('checked', true);
                    } else {
                        $('#ritht-readCheckbox').prop('checked', false);
                    }

                    if (write === '1') {
                        $('#ritht-writeCheckbox').prop('checked', true);
                    } else {
                        $('#ritht-writeCheckbox').prop('checked', false);
                    }
                }
            });
        }

        layui.use(['tree', 'util'], function () {
            var tree = layui.tree;
            var layer = layui.layer;
            var util = layui.util;

            getData(function (data) {
                // 基本演示
                tree.render({
                    elem: '#test1',
                    data: data.data, // 注意修改数据格式为 { "data": data2 }
                    showCheckbox: true,
                    id: 'demoId1',
                    isJump: true,
                    click: function (obj) {
                        var data = obj.data;
                        layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                    }
                });
            });
        });
    });
</script>


{% endblock %}