{% extends "base.html" %}

{% block title %}UI自动化 测试平台 - new test cases{% endblock %}

{% block js %}
<script src="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.js"></script>
<link href="/static/bootstrap-table-1.21.3/dist/bootstrap-table.min.css" rel="stylesheet"/>

<script src="/static/tanos/bootbox.all.min.js"></script>
<script src="/static/tanos/popper.js"></script>
<script src="/static/tanos/toastr.min.js"></script>
<link href="/static/tanos/toastr.min.css" rel="stylesheet"/>
<link href="/static/tanos/awesome-bootstrap-checkbox.css" rel="stylesheet"/>


<!-- Bootstrap Font Icon CSS -->


<!--<script src="/static/tanos/data_connect.js"></script>-->


{% endblock %}

<style>
    body {
        font: 30px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
    }
</style>


{% block content %}
<div style="background-color: #eee; height:100%; width:100%; align-items: center; display:flex; ">
    <div style=" height:92%; width:100%; margin-left: 30px;  margin-right: 30px; margin-top: 10px; margin-bottom: 10px; "
         class="card">
        <!-- card-body中style 可以防止内容向下溢出 -->
        <div class="card-body" style="padding-bottom:10px; overflow-y: auto; max-height: calc(100% - 10px);">

            <h4>Role Management</h4>

            <div style=" display: flex;flex-direction: column; margin-top: 20px">
                <label class="form-check-label">
                    R: Read and Execute
                </label>

                <label class="form-check-label">
                    E: Edit
                </label>
            </div>


            <div style="margin-top: 20px">
                <table class="table table-striped"
                       id="table"
                       data-toggle="table"
                       data-height="550"
                       data-url="team/getAllRole.json"
                       data-pagination="true"
                       data-search="false"
                       data-sort-name="team"
                       data-sort-order="asc"
                >
                    <thead>
                    <tr>
                        <th data-field="team" rowspan="2" data-width="10">TEAM</th>
                        <th data-formatter="allFormatter" rowspan="2" data-width="10"
                            data-align="center">Select All
                        </th>
                        <th colspan="3" data-align="center">DATA TEST</th>
                        <th colspan="1" data-align="center">WEB TEST</th>
                        <th colspan="5" data-align="center">API TEST</th>
                        <th colspan="2"></th>
                    </tr>
                    <tr>
                        <th data-field="data_connection" data-formatter="dataFormatter1" data-align="center">Data
                            Connection
                        </th>
                        <th data-field="data_point" data-formatter="dataFormatter2" data-align="center">Data Point
                        </th>
                        <th data-field="data_validation" data-formatter="dataFormatter3" data-align="center">Data
                            Validation
                        </th>

                        <th data-field="web_test" data-formatter="webFormatter1" data-align="center">Web UI</th>

                        <th data-field="api_test_system" data-formatter="apiFormatter1" data-align="center">System
                            Test
                        </th>
                        <th data-field="api_test_smoke" data-formatter="apiFormatter2" data-align="center">Smoke
                            Test
                        </th>
                        <th data-field="api_test_sanity" data-formatter="apiFormatter3" data-align="center">Regular
                            Sanity Test
                        </th>
                        <th data-field="api_test_health" data-formatter="apiFormatter4" data-align="center">Hourly
                            Health Check
                        </th>
                        <th data-field="api_test_null" data-formatter="apiFormatter5" data-align="center">"Null
                            Data" Check
                        </th>

                        <th data-field="tools" data-formatter="toolsFormatter" data-align="center">TOOLS</th>
                        <th data-field="config" data-formatter="configFormatter" data-align="center">CONFIG</th>
                    </tr>
                    </thead>
                </table>


            </div>

            <div style="display: flex; justify-content: flex-end; margin-top: 10px;">
                <button type="button" class="btn btn-primary" id="save-config">Save</button>
            </div>


        </div>
    </div>
</div>


<script>


    function dataFormatter1(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
        <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="readCheckbox${index}_1" value="read" ${readChecked}>
            <label class="form-check-label" for="readCheckbox${index}_1">R</label>
          </div>
          <div class="form-check" style="margin-top: 10px">
            <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_1" value="write" ${writeChecked}>
            <label class="form-check-label" for="writeCheckbox${index}_1">E</label>
          </div>
        </div>`;
    }


    function dataFormatter2(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_2" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_2" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    function dataFormatter3(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_3" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_3" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    // function webFormatter(value, row, index) {
    //     let readChecked = "";
    //     let writeChecked = "";
    //
    //     if (value === "11") {
    //         readChecked = "checked";
    //         writeChecked = "checked";
    //     } else if (value === "10") {
    //         readChecked = "checked";
    //     } else if (value === "01") {
    //         writeChecked = "checked";
    //     }
    //
    //     return `
    //         <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
    //           <div class="form-check">
    //             <input class="form-check-input" type="checkbox" id="readCheckbox${index}_4" value="read" ${readChecked}>
    //             <label class="form-check-label" for="readCheckbox${index}">R</label>
    //           </div>
    //           <div class="form-check" style="margin-top: 10px">
    //             <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_4" value="write" ${writeChecked}>
    //             <label class="form-check-label" for="writeCheckbox${index}">E</label>
    //           </div>
    //         </div>`;
    // }


    function webFormatter1(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_4" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_4" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    // function apiFormatter(value, row, index) {
    //     let readChecked = "";
    //     let writeChecked = "";
    //
    //     if (value === "11") {
    //         readChecked = "checked";
    //         writeChecked = "checked";
    //     } else if (value === "10") {
    //         readChecked = "checked";
    //     } else if (value === "01") {
    //         writeChecked = "checked";
    //     }
    //
    //     return `
    //         <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
    //           <div class="form-check">
    //             <input class="form-check-input" type="checkbox" id="readCheckbox${index}_6" value="read" ${readChecked}>
    //             <label class="form-check-label" for="readCheckbox${index}">R</label>
    //           </div>
    //           <div class="form-check" style="margin-top: 10px">
    //             <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_6" value="write" ${writeChecked}>
    //             <label class="form-check-label" for="writeCheckbox${index}">E</label>
    //           </div>
    //         </div>`;
    // }


    function apiFormatter1(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_5" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_5" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    function apiFormatter2(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_6" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_6" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    function apiFormatter3(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_7" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_7" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    function apiFormatter4(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_8" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_8" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    function apiFormatter5(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_9" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_9" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    function toolsFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_10" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_10" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }


    function configFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        if (value === "11") {
            readChecked = "checked";
            writeChecked = "checked";
        } else if (value === "10") {
            readChecked = "checked";
        } else if (value === "01") {
            writeChecked = "checked";
        }

        return `
            <div class="btn-group" role="group" aria-label="..." style="display: flex;flex-direction: column; ">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="readCheckbox${index}_11" value="read" ${readChecked}>
                <label class="form-check-label" for="readCheckbox${index}">R</label>
              </div>
              <div class="form-check" style="margin-top: 10px">
                <input class="form-check-input" type="checkbox" id="writeCheckbox${index}_11" value="write" ${writeChecked}>
                <label class="form-check-label" for="writeCheckbox${index}">E</label>
              </div>
            </div>`;
    }

    function allFormatter(value, row, index) {
        let readChecked = "";
        let writeChecked = "";

        // 生成HTML字符串并返回,因为要照顾到生成的时差，不然无法识别同一时间生成的其他checkbox
        const html = `
    <div class="form-check abc-checkbox abc-checkbox-success">
        <input class="form-check-input" id="readAllCheckbox${index}" type="checkbox" onclick="toggleAll('read', ${index})">
        <label class="form-check-label" for="readAllCheckbox${index}">
            R
        </label>
    </div>
    <div class="form-check abc-checkbox abc-checkbox-success" style="margin-top: 10px">
        <input class="form-check-input" id="writeAllCheckbox${index}" type="checkbox" onclick="toggleAll('write', ${index})">
        <label class="form-check-label" for="writeAllCheckbox${index}">
            E
        </label>
    </div>
    `;

        const div = document.createElement('div');
        div.innerHTML = html;

        const readAllCheckbox = div.querySelector(`#readAllCheckbox${index}`);
        const writeAllCheckbox = div.querySelector(`#writeAllCheckbox${index}`);

        setTimeout(function () {
            const dataReadCheckbox1 = document.getElementById(`readCheckbox${index}_1`);
            const dataReadCheckbox2 = document.getElementById(`readCheckbox${index}_2`);
            const dataReadCheckbox3 = document.getElementById(`readCheckbox${index}_3`);
            const dataReadCheckbox4 = document.getElementById(`readCheckbox${index}_4`);
            const dataReadCheckbox5 = document.getElementById(`readCheckbox${index}_5`);
            const dataReadCheckbox6 = document.getElementById(`readCheckbox${index}_6`);
            const dataReadCheckbox7 = document.getElementById(`readCheckbox${index}_7`);
            const dataReadCheckbox8 = document.getElementById(`readCheckbox${index}_8`);
            const dataReadCheckbox9 = document.getElementById(`readCheckbox${index}_9`);
            const dataReadCheckbox10 = document.getElementById(`readCheckbox${index}_10`);
            const dataReadCheckbox11 = document.getElementById(`readCheckbox${index}_11`);

            const dataWriteCheckbox1 = document.getElementById(`writeCheckbox${index}_1`);
            const dataWriteCheckbox2 = document.getElementById(`writeCheckbox${index}_2`);
            const dataWriteCheckbox3 = document.getElementById(`writeCheckbox${index}_3`);
            const dataWriteCheckbox4 = document.getElementById(`writeCheckbox${index}_4`);
            const dataWriteCheckbox5 = document.getElementById(`writeCheckbox${index}_5`);
            const dataWriteCheckbox6 = document.getElementById(`writeCheckbox${index}_6`);
            const dataWriteCheckbox7 = document.getElementById(`writeCheckbox${index}_7`);
            const dataWriteCheckbox8 = document.getElementById(`writeCheckbox${index}_8`);
            const dataWriteCheckbox9 = document.getElementById(`writeCheckbox${index}_9`);
            const dataWriteCheckbox10 = document.getElementById(`writeCheckbox${index}_10`);
            const dataWriteCheckbox11 = document.getElementById(`writeCheckbox${index}_11`);


            if (
                dataReadCheckbox1.checked &&
                dataReadCheckbox2.checked &&
                dataReadCheckbox3.checked &&
                dataReadCheckbox4.checked &&
                dataReadCheckbox5.checked &&
                dataReadCheckbox6.checked &&
                dataReadCheckbox7.checked &&
                dataReadCheckbox8.checked &&
                dataReadCheckbox9.checked &&
                dataReadCheckbox10.checked &&
                dataReadCheckbox11.checked
            ) {
                readChecked = "checked";
            } else if (
                dataReadCheckbox1.checked ||
                dataReadCheckbox2.checked ||
                dataReadCheckbox3.checked ||
                dataReadCheckbox4.checked ||
                dataReadCheckbox5.checked ||
                dataReadCheckbox6.checked ||
                dataReadCheckbox7.checked ||
                dataReadCheckbox8.checked ||
                dataReadCheckbox9.checked ||
                dataReadCheckbox10.checked ||
                dataReadCheckbox11.checked
            ) {
                readChecked = "indeterminate";
            } else {
                readChecked = "";
            }


            if (
                dataWriteCheckbox1.checked &&
                dataWriteCheckbox2.checked &&
                dataWriteCheckbox3.checked &&
                dataWriteCheckbox4.checked &&
                dataWriteCheckbox5.checked &&
                dataWriteCheckbox6.checked &&
                dataWriteCheckbox7.checked &&
                dataWriteCheckbox8.checked &&
                dataWriteCheckbox9.checked &&
                dataWriteCheckbox10.checked &&
                dataWriteCheckbox11.checked
            ) {
                writeChecked = "checked";
            } else if (
                dataWriteCheckbox1.checked ||
                dataWriteCheckbox2.checked ||
                dataWriteCheckbox3.checked ||
                dataWriteCheckbox4.checked ||
                dataWriteCheckbox5.checked ||
                dataWriteCheckbox6.checked ||
                dataWriteCheckbox7.checked ||
                dataWriteCheckbox8.checked ||
                dataWriteCheckbox9.checked ||
                dataWriteCheckbox10.checked ||
                dataWriteCheckbox11.checked
            ) {
                writeChecked = "indeterminate";
            } else {
                writeChecked = "";
            }


            const readAllCheckbox = document.querySelector('#readAllCheckbox' + index);
            // console.info(readAllCheckbox)
            if (readAllCheckbox) {
                readAllCheckbox.indeterminate = true;
            }

            const writeAllCheckbox = document.querySelector('#writeAllCheckbox' + index);
            if (writeAllCheckbox) {
                writeAllCheckbox.indeterminate = true;
            }


            readAllCheckbox.checked = (readChecked === "checked");
            readAllCheckbox.indeterminate = (readChecked === "indeterminate");

            writeAllCheckbox.checked = (writeChecked === "checked");
            writeAllCheckbox.indeterminate = (writeChecked === "indeterminate");

        }, 0.5);

        return div.innerHTML;
    }

</script>

<script>


    function toggleAll(type, index) {

        const dataReadCheckboxes = document.querySelectorAll(`input[id^="readCheckbox${index}"]`);
        // console.info(dataReadCheckboxes)
        const dataWriteCheckboxes = document.querySelectorAll(`input[id^="writeCheckbox${index}"]`);

        if (type === 'read') {
            const allReadCheckbox = document.getElementById(`readAllCheckbox${index}`);

            dataReadCheckboxes.forEach((checkbox) => {
                checkbox.checked = allReadCheckbox.checked;
            });
        }

        if (type === 'write') {
            const allWriteCheckbox = document.getElementById(`writeAllCheckbox${index}`);

            dataWriteCheckboxes.forEach((checkbox) => {
                checkbox.checked = allWriteCheckbox.checked;
            });
        }
    }

</script>

<script>
    // 获取保存按钮元素
    var saveButton = $('#save-config');

    // 点击保存按钮时的事件处理程序
    saveButton.on('click', function () {
        const numberOfCheckboxes = 4;
        const checkboxStates = []; // 用于存储复选框状态的数组

        var tableData = [];

        $('#table tbody tr').each(function () {
            var firstColumnValue = $(this).find('td:first').text();
            tableData.push(firstColumnValue);
        });

        console.info(tableData)


        for (let index = 0; index < numberOfCheckboxes; index++) {
            const dataReadCheckbox1 = document.getElementById(`readCheckbox${index}_1`);
            const dataReadCheckbox2 = document.getElementById(`readCheckbox${index}_2`);
            const dataReadCheckbox3 = document.getElementById(`readCheckbox${index}_3`);
            const dataReadCheckbox4 = document.getElementById(`readCheckbox${index}_4`);
            const dataReadCheckbox5 = document.getElementById(`readCheckbox${index}_5`);
            const dataReadCheckbox6 = document.getElementById(`readCheckbox${index}_6`);
            const dataReadCheckbox7 = document.getElementById(`readCheckbox${index}_7`);
            const dataReadCheckbox8 = document.getElementById(`readCheckbox${index}_8`);
            const dataReadCheckbox9 = document.getElementById(`readCheckbox${index}_9`);
            const dataReadCheckbox10 = document.getElementById(`readCheckbox${index}_10`);
            const dataReadCheckbox11 = document.getElementById(`readCheckbox${index}_11`);

            const dataWriteCheckbox1 = document.getElementById(`writeCheckbox${index}_1`);
            const dataWriteCheckbox2 = document.getElementById(`writeCheckbox${index}_2`);
            const dataWriteCheckbox3 = document.getElementById(`writeCheckbox${index}_3`);
            const dataWriteCheckbox4 = document.getElementById(`writeCheckbox${index}_4`);
            const dataWriteCheckbox5 = document.getElementById(`writeCheckbox${index}_5`);
            const dataWriteCheckbox6 = document.getElementById(`writeCheckbox${index}_6`);
            const dataWriteCheckbox7 = document.getElementById(`writeCheckbox${index}_7`);
            const dataWriteCheckbox8 = document.getElementById(`writeCheckbox${index}_8`);
            const dataWriteCheckbox9 = document.getElementById(`writeCheckbox${index}_9`);
            const dataWriteCheckbox10 = document.getElementById(`writeCheckbox${index}_10`);
            const dataWriteCheckbox11 = document.getElementById(`writeCheckbox${index}_11`);

            // 获取复选框状态
            const checkbox1_r = dataReadCheckbox1 ? dataReadCheckbox1.checked : false;
            const checkbox2_r = dataReadCheckbox2 ? dataReadCheckbox2.checked : false;
            const checkbox3_r = dataReadCheckbox3 ? dataReadCheckbox3.checked : false;
            const checkbox4_r = dataReadCheckbox4 ? dataReadCheckbox4.checked : false;
            const checkbox5_r = dataReadCheckbox5 ? dataReadCheckbox5.checked : false;
            const checkbox6_r = dataReadCheckbox6 ? dataReadCheckbox6.checked : false;
            const checkbox7_r = dataReadCheckbox7 ? dataReadCheckbox7.checked : false;
            const checkbox8_r = dataReadCheckbox8 ? dataReadCheckbox8.checked : false;
            const checkbox9_r = dataReadCheckbox9 ? dataReadCheckbox9.checked : false;
            const checkbox10_r = dataReadCheckbox10 ? dataReadCheckbox10.checked : false;
            const checkbox11_r = dataReadCheckbox11 ? dataReadCheckbox11.checked : false;

            // 获取复选框状态
            const checkbox1_w = dataWriteCheckbox1 ? dataWriteCheckbox1.checked : false;
            const checkbox2_w = dataWriteCheckbox2 ? dataWriteCheckbox2.checked : false;
            const checkbox3_w = dataWriteCheckbox3 ? dataWriteCheckbox3.checked : false;
            const checkbox4_w = dataWriteCheckbox4 ? dataWriteCheckbox4.checked : false;
            const checkbox5_w = dataWriteCheckbox5 ? dataWriteCheckbox5.checked : false;
            const checkbox6_w = dataWriteCheckbox6 ? dataWriteCheckbox6.checked : false;
            const checkbox7_w = dataWriteCheckbox7 ? dataWriteCheckbox7.checked : false;
            const checkbox8_w = dataWriteCheckbox8 ? dataWriteCheckbox8.checked : false;
            const checkbox9_w = dataWriteCheckbox9 ? dataWriteCheckbox9.checked : false;
            const checkbox10_w = dataWriteCheckbox10 ? dataWriteCheckbox10.checked : false;
            const checkbox11_w = dataWriteCheckbox11 ? dataWriteCheckbox11.checked : false;


            // 将复选框状态存入数组
            checkboxStates.push({
                checkbox1_r,
                checkbox2_r,
                checkbox3_r,
                checkbox4_r,
                checkbox5_r,
                checkbox6_r,
                checkbox7_r,
                checkbox8_r,
                checkbox9_r,
                checkbox10_r,
                checkbox11_r,
                checkbox1_w,
                checkbox2_w,
                checkbox3_w,
                checkbox4_w,
                checkbox5_w,
                checkbox6_w,
                checkbox7_w,
                checkbox8_w,
                checkbox9_w,
                checkbox10_w,
                checkbox11_w,
                firstColumnValue: tableData[index]
            });
        }

        console.info(checkboxStates)


        // 发送数据到后端
        $.ajax({
            url: '/team/saveRole.json',
            type: 'POST',
            dataType: 'json',
            data: JSON.stringify(checkboxStates),
            contentType: 'application/json',
            success: function (response) {
                toastr.success('Save successfully!');
            },
            error: function (xhr, status, error) {
                toastr.success('Fail to save');
            }
        });
    });

</script>


{% endblock %}