{% extends "base.html" %}


{% block title %}Flasky{% endblock %}

{% block content %}

<style>
    .text{
    text-align:left;
    color: #000;
    }

    /*.bg{*/
    /*background:url('/static/media/a.webp');*/
    /*position:absolute;*/
    /*width:100%;*/
    /*height:100%;*/
    /*background-size:cover*/
    /*}*/


</style>


<div class="bg">

    <div class="row">

        <div class="col-md-1 text"></div>

        <div class="col-md-4 text" style="color: #212529; margin-top:40px">
            <div class="page-header">
                <h5>{{ message }} </h5>
                <hr class="simple" color="#6f5499" />
                <h7>1 Welcome to <strong>TANOS</strong> (Testing Automation & Operation System)!</h7>

            </div>
            <div class="text">
                <!--              <img src="/static/media/tips.webp"-->
                <!--             style="height:28vh;  max-width: 32vh; margin-left: 0px;">-->
            </div>

            <br/>
            <!--        <h4><span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> <a href="{{ buildUrl('/data_guide') }}" style="color: #fff;font-size:24px; font-family:Hack">Data Test</a> </h4>-->
            <!--        <h4><span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> <a href="{{ buildUrl('/web_guide') }}" style="color: #fff;font-size:24px; font-family:Hack">Web Test</a> </h4>-->
            <!--        <h4><span class="glyphicon glyphicon-console" aria-hidden="true"></span> <a href="{{ buildUrl('/test_api') }}" style="color: #fff;font-size:24px; font-family:Hack">API Test</a> </h4>-->
            <!--        -->
<!--            <h4 style="color: #fff;font-size:15px; "> TANOS (Testing Automation & Operation System) is scalable, including data, web,-->
<!--                API and performance testing, that provides an automation solution to simplify the testing process and-->
<!--                improve-->
<!--                test efficiency with a web portal. It also enables the effective collaboration on testing in the agile-->
<!--                teams.-->
<!--                <br/><br/>-->

<!--                Features:-->
<!--                <br/><br/>-->
<!--                Onboard quickly:-->
<!--                Low-code test authoring that’s modern and easy-to-use for your entire quality-focused team-->
<!--                <br/><br/>-->
<!--                Collaborate on quality:-->
<!--                Scan, build, and reuse test artifacts across your teams, regardless of where they work.-->
<!--                <br/><br/>-->
<!--                Scale testing:-->
<!--                Efficiently and automatically scale parallel tests between different sources.-->
<!--                <br/><br/>-->
<!--                Speed of testing:-->
<!--                Improved test efficiency, solved slow and incomplete coverage.-->
<!--                <br/><br/>-->
<!--                Real-time insights:-->
<!--                Once you finish running the test case, an easy-to read and downloadable report will provides you the-->
<!--                real-time insights. </h4>-->

        </div>


    </div>


    <!--    <div class="col-md-6" >-->
    <!--    </div>-->
</div>


{% endblock %}
